body {
    background-color: white; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 200px;
    background: linear-gradient(to right, #02a7a7, #014949);
}


.poster {
    background-color: bisque;
    border-radius: 8px;
    width: 500px;
    padding: 10px;
    margin: auto;
    box-shadow: 0 8px 24px #014949;
    background: radial-gradient(circle at center, bisque, rgb(230, 173, 104));
}

.poster h1 {
    font-size: 48px;
    font-weight: 700;
    color: #02a7a7;
    margin-bottom: 40px;
}

.poster p {
    font-style: italic;
    font-size: 20px;
    color: #02a7a7;

}